<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item">
              <a routerLink="/stockExchanges" class="btn btn-info">List of All Stock Exchanges</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/addstockExchanges" class="btn btn-info">Add Stock Exchange</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/stockExchangesById" class="btn btn-info">Display Stock Exchange By Id</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/deletestockExchangesById" class="btn btn-info">Delete Stock Exchange</a>
            </li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

