<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">shortName</th>
        <th scope="col">region</th>
        <th scope="col">marketPlace</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{ id }}</td>
        <td>{{ stockExchange.name }}</td>
        <td>{{ stockExchange.shortName }}</td>
        <td>{{ stockExchange.region }}</td>
        <td>{{ stockExchange.marketPlace }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
